
.wrapper{
    background: lightblue;
    position: relative;
    
    
}
body {
    background: lightblue;
}

h1 {
    background-image: url(https://img.wallpapersafari.com/desktop/1440/900/62/83/v3qT9H.jpg);
    height: 150px;
    color: black;
    text-align: center;
    width: 100%;
    padding: 50px 0px 0px 0px;
    background-repeat: no-repeat;

}

.boxed {
    margin: 0 10% 0 75%;

   
}


#col1 {
    padding: 7px 0px 0px 200px;

}

.scrollBoxSuggestions{
    height: 425px;
    width: 350px;
    border: 3px solid;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    float: right;
    background: white;
    margin-right: 5%;
    border-radius: 10px;


}

.clearfix {
    overflow: auto;
}

.scrollBoxResults{
    height: 425px;
    width: 700px;
    border: 3px solid;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    float: left;
    background: white;
    margin-left: 5%;
    border-radius: 10px;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



#bandInput {
    width: 300px;
}



