.wrapper{
    background: lightblue;
    position: relative;
    
    
}
body {
    background: lightblue;
}

.jumbotron{
    margin: 0 20% 3% 5%;
    height: 50px;
    position: relative;
}

.display-4{
    position: left;
    position: absolute;
}

.lead{
    position: absolute;
}

.boxed{
    margin: 0 10% 0 75%;
   
}


#col1 {
    padding: 7px 0px 0px 200px;
    
}

.scrollBoxSuggestions{
    height: 425px;
    width: 350px;
    border: 3px solid;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    float: right;
    margin-right: 5%;
    background: white;

}

.scrollBoxResults{
    height: 425px;
    width: 700px;
    border: 3px solid;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    float: left;
    margin-left: 5%;
    background: white;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#band-input {
    width: 300px;
}
 
#location-input {
    width: 300px;
}